<template name="login">
    <div class=" col-md-8 col-md-offset-2 row">
        <div class="col-sm-6">
            <h2 class="text-center">Inscription</h2>
            <p>Veuillez renseignez votre code postal pour savoir si on peu vous ammener la bouffe a la maison</p>
            <form class="zipForm" >
                <div class="input-group">
                    <input class="form-control " type="text" name="zipCode" placeholder="30100 , 30120, etc...">
                    <div class="input-group-btn">
                        <input type="submit" class="btn btn-success " value="Vérifier">
                    </div>
                </div>
            </form>
            <br>
                <h4 class="text-center">OU</h4>
            <br>
                <button class="btn btn-success btn-block" geoloc><span class="glyphicon glyphicon-map-marker"></span> Utiliser ma position actuelle</button>
                {{#if goodDistance}}
                    <div class="row">
                        <br>
                    <button  class="btn btn-success inscription col-xs-4 col-xs-offset-4" >Inscription</button>
                    </div>
                {{/if}}
                {{#if tooFar }}
                    <a class="danger" href="http://www.seloger.com/immobilier/tout/immo-ales-30/">Vous etes trop loin pour pouvoir bénéficier de nos services</a>
                {{/if}}
        </div>
        <div class="col-sm-6">
<h2 class="text-center">Connexion</h2>
            <form login>
                <div class="form-group">
                    <label for="email" class="label">email</label>
                    <input type="email" class="form-control"  name="email" placeholder="jackie-et-michel@grosbeaufdu30.conne">
                </div>
                <div class="form-group">
                    <label for="password" class="label">password</label>
                    <input type="password" class="form-control" name="password" placeholder=" ha! ha! ha! vous n'avez pas dit le mot magique">
                </div>
                <br>

                <input type="submit" class="btn btn-success btn-block" value="Connexion">
            </form>
        </div>
    </div>
</template>