<template name="home">
    <h1 class="text-center">Notre Carte</h1>
    <div class="col-xs-12 row">
        <div class="row">
            {{#each category in categories}}
                <div class="col-sm-2 category-header {{category.name}}" id="{{category.name}}">
                    <img src="/images/category_logo/{{category.src}}" alt="{{category.name}}-logo" class="category-logo">
                    <h3>{{category.name}}</h3>
                </div>
            {{! version mobile}}
                <div class="visible-xs">
                    <div class=" {{showCategoryMobile category.name selectedCategory}}">
                        <div class="products-xs products {{selectedCategory}} ">
                            {{#each product in shownProducts}}
                                {{> prod product}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/each}}
            <div class="col-sm-2 Panier">
                <img src="/images/category_logo/Panier.png" alt="panier-logo" class="category-logo">
                <h3>Panier</h3>
            </div>
        </div>
        {{! version desktop}}
       <div class="xs-hidden row">
           <div class="products {{selectedCategory}} col-sm-10 ">
               {{#each product in shownProducts}}
                   <div class="col-xs-4" id="product-{{@index}}">
                            {{> prod product}}
                        </div>
               {{/each}}
           </div>
           <div class="col-sm-2 panierContent small">
               {{#if isProductsInCart}}
                    {{#each productInCart in productsInCarts}}
                       <div class="row">
                           <div class="col-xs-2 row ">{{productInCart.quantity}}</div>
                           <div class="col-xs-8 ">{{nameOfProduct productInCart.product_id}}</div>
                           <div class="col-xs-2 row">{{subTotalPrice productInCart.product_id productInCart.quantity}}</div>
                       </div>
                    {{/each}}
               <h4>{{totalPrice}}</h4>
                   <button class="btn btn-xs btn-warning center-block">
                   <span class="glyphicon glyphicon-ok"></span> Commander
                   </button>
                   <br>
                   {{else}}
               <p>Aucun produit commandé</p>
                   <br>
               {{/if}}
           </div>
       </div>
   </div>
    <br>
</template>