<template name="home">
<h1 class="text-center">Notre Carte</h1>
    <div class="row">
        <div class="col-sm-1"></div>
        {{#each category in categories}}
            <div class="col-sm-2 category-header {{category.name}}" id="{{category.name}}">
                <img src="/images/category_logo/{{category.src}}" alt="{{category.name}}-logo" class="category-logo">
                <h3>{{category.name}}</h3>
            </div>
        {{! version mobile}}
            <div class="visible-xs">
                <div class="row {{showCategoryMobile category.name selectedCategory}}">
                    <div class="products-xs {{selectedCategory}} row col-sm-offset-1 col-sm-10">
                        {{#each product in shownProducts}}
                            <p>{{product.name}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
        <div class="col-sm-1">
        </div>

    </div>
    {{! version desktop}}
    <div class="row hidden-xs">
        <div class="products {{selectedCategory}} row col-sm-offset-1 col-sm-10">
            {{#each product in shownProducts}}
                <p>{{product.name}}</p>
            {{/each}}
        </div>
    </div>
</template>
