.category-header{
    text-align: center;
    padding: 30px 0 50px 0;
    border-color: #222222;
    border-style: solid;
    border-width: 5px 5px 0 5px;
}
.category-logo{
    width: auto;
    max-height: 60px;

}

.Pizzas{
    background-color:#CC4848 ;
}
.Salades{
    background-color:#4BB452 ;
}
.Desserts{
    background-color: #8A41CE;
}
.Boissons{
    background-color:#31CAE7 ;
}
.Burgers{
    background-color: #F4B12F ;
}