<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand {{activeRouteClass 'home'}}" href="{{pathFor 'home'}}"><img src="/images/logo2.png"  class="logo" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
          {{#if nbOfItem}}
        <li class="{{activeRouteClass 'panier'}}">
          <a href="{{pathFor 'panier'}}">Panier <span class="badge ">{{nbOfItem}}</span></a>
        </li>
          {{/if}}
        <li class="{{activeRouteClass  'contact'}}">
          <a href="{{pathFor 'contact'}}">Contact</a>
        </li>
          {{#if showHistoryLink}}
          <li class="{{activeRouteClass  'history'}}">
              <a href="{{pathFor 'history'}}">historique</a>
          </li>
          {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {{#if currentUser }}
              <li class="{{activeRouteClass 'login'}}">
                  {{ currentUser.username}}
                  <a href="#" disconnect>Déconnexion</a>
              </li>
          {{else}}
          <li class="{{activeRouteClass 'login'}}">
              <a href="{{pathFor 'login'}}">Connexion / inscription</a>
          </li>
          {{/if}}
      </ul>
    </div>
  </nav>
</template>